global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert.rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: keycloak
    metrics_path: /metrics
    static_configs:
      - targets:
          - keycloak1:9000
          - keycloak2:9000

  - job_name: postgres
    static_configs:
      - targets:
          - postgres-exporter:9187

